.container{
  position: relative;
  width: 100vw;
  height: 100vh;
}

.lines {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.lines li {
  list-style: none;
  border-radius: 50px;
}

#lines_y li {
  transform: translateY(-700px);
  width: 6px;
  animation: upY .1s infinite;
  animation-direction: alternate;
}

.lines_x {
  flex-direction: column;
  position: absolute;
  top: 0;
}

#lines_x li {
  transform: translateX(-100vw);
  height: 6px;
  animation: upX 2s infinite;
  animation-direction: alternate;
}

@keyframes upY {
  from{
    transform: translateY(-1000px);
    opacity: 0;
  }
  30%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.2;
  }
  70%{
    opacity: 0.3;
  }
  to{
    transform: translateY(100vh);
    opacity: 0;
  }
}

@keyframes upX {
  from{
    transform: translateX(-1555px);
    opacity: 0;
  }
  30%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.2;
  }
  70%{
    opacity: 0.3;
  }
  to{
    transform: translateX(100vw);
    opacity: 0;
  }
}